/* General styles */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

/* Top */

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

header {
width: 100%;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  display: flex;
  align-items: center;
}

#name img {
  padding-right: 1rem;
  height: 1.5rem;
}

  /* Navigation */

ul {
  display: flex;
  padding: 1rem 0;
}

li {
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.mobile {
  display: none;
}

.subtext {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 10rem;
  position: relative;
  left: 2rem;
}

.subtext p {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
}

/* Main container */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-top: 3rem;
  display: flex;
}

.icon {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#exams, #fittings {
  margin-right: 6rem;
}


.icon img {
  width: 3.5rem;
  height: auto;
}

.icon .text {
  text-align: center;
}

.information {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.item {
  width: 35%;
}

#philosophy {
  margin-right: 5%;
}

.header {
  width: 10rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
}

.header p {
  font-weight: bold;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Footer */

footer {
  margin-top: 5rem;
  background-color: azure;
}

.copyright {
  display: flex;
  align-items: center; 
  padding: 4rem 4rem;
}

.copyright img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}
