/* General styles */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* .container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
} */

.site-container {
  width: 960px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

/* Top */

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

header {
  width: 100%;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  display: flex;
  align-items: center;
}

#name img {
  padding-right: 1rem;
  height: 1.5rem;
}

ul {
  display: flex;
  padding: 1rem 0;
}

li {
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.mobile {
  display: none;
}

.subtext {
  margin-top: 10rem;
  float: right;
  position: relative;
  left: 2rem;
  width: auto;
}

.subtext p {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
}

/* Main container */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-top: 3rem;
  display: flex;
}

.icon {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#exams, #fittings {
  margin-right: 6rem;
}

.icon img {
  width: 3.5rem;
  height: auto;
}

.icon .text {
  text-align: center;
}

.information {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.item {
  width: 35%;
}

#philosophy {
  margin-right: 5%;
}

.item .header {
  width: 10rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
}

.item .header p {
  font-weight: bold;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Footer */

footer {
  width: 960px;
  margin-top: 5rem;
  background-color: azure;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 4rem 4rem;
}

.copyright img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

/* Media queries */

@media only screen and (max-width: 1000px) {

  .container {
    width: 100%;
  }

  .banner {
    height: 22rem;
  }

  header {
    margin-top: 0;
  }

  .subtext {
    margin-top: 5rem;
    margin-right: 0rem;
    width: auto;
  }

  .subtext p {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

}

@media only screen and (max-width: 650px) {

  #name p {
    display: none;
  }

}

@media only screen and (max-width: 570px) {

  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .no-mobile {
    display: none;
  }

  .mobile {
    display: block;
  }

  .subtext {
    position: static;
    margin-top: 9rem;
    width: 100%;
  }

  .subtext p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0.25rem;
  }

  .icons {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .icon {
    margin: 1.54rem 0;
    height: auto;
  }

  #delivery {
    margin-bottom: 0;
  }

  .icon .text {
    margin-top: 1rem;
  }

  #exams, #fittings {
    margin-right: 0;
  }

  .text, .description {
    font-size: 0.77rem;
  }

  .information {
    flex-direction: column;
    align-items: center;
  }

  .item {
  width: 100%;
  margin-bottom: 4rem;
  }

  .item .header {
    width: 100%;
  }

  #philosophy {
    margin-right: 0;
  }

  .item .description {
    width: 100%;
  }

  .item .description p {
    padding: 0 0.25rem
  }


  footer {
    margin-top: 1rem;
  }
}
